<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/layout/blog-list-layout :: blog-list-layout
      (~{:: #header}, ~{:: #slider}, ~{:: #content})}">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <title>Title</title>
</head>
<body>

<!--    header-->
<th:block id="header">
    <div th:replace="~{/admin/fragment/header :: header}"></div>
</th:block>



<th:block id="slider">
    <div th:replace="~{/admin/fragment/slider :: slider}"></div>
</th:block>

<th:block id = content>
<!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/admin/}">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a th:href="@{/admin/blogs}">Blog</a>
                            </li>
                            <li class="breadcrumb-item active" th:text="${blog.title}">
                                Thực hành làm ứng dụng Meal Finder API
                                với Javascript (Phần 2)
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-default">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </button>
                        <button type="button" class="btn btn-info px-4">
                            Lưu
                        </button>
                        <button type="button" class="btn btn-primary px-4">
                            Preview
                        </button>
                    </div>

                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-danger px-4">
                            Xóa
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Tiêu đề</label>
                                            <input th:value="${blog.title}" type="text" class="form-control" id="title" />
                                        </div>

                                        <div class="form-group">
                                            <label>Nội dung</label>
                                            <textarea id="content" th:text="${blog.content}"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Mô tả ngắn</label>
                                            <textarea id="description" class="form-control" rows="3" th:text="${blog.description}"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <select id="status" class="form-control">
                                                <option hidden>- Trạng thái -</option>
                                                <option th:each="status : ${blog.status}"
                                                        th:value="${status}"
                                                        th:text="${status}"
                                                        th:selected="${#lists.contains(blog.status, status)}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Danh mục</label>
                                            <div class="select2-purple">
                                                <select class="select2 form-control" multiple="multiple"
                                                        id="category">
                                                    <option hidden>- Chọn danh mục -</option>
                                                    <option th:each="tag : ${blog.categories}"
                                                            th:value="${tag.id}"
                                                            th:text="${tag.name}"
                                                            th:selected="${#lists.contains(blog.categories, tag)}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="thumbnail-preview-container mb-3">
                                                <img src="" alt="" id="thumbnail" />
                                            </div>
                                            <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                    data-target="#modal-xl">
                                                Chọn hình ảnh
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="modal-xl" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Extra Large Modal</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>One fine body…</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>