<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/adminStyle.css}">
</head>
<body>
<a th:fragment="adminCourseItem(info)" th:href="@{/admin/course/{id}(id = ${info.id})}">
  <div class="course-item shadow-sm rounded mb-4">
    <div class="course-item-image">
      <img th:src="${info.thumbnail}"
           th:alt="${info.name}">
    </div>
    <div class="course-item-info p-3">
      <h2 class="fs-5 mb-3 text-dark" th:text="${info.name}"></h2>
      <p class="type fw-light text-black-50" th:text="${info.type == 'online' ? 'Online' : 'Onlab'}"></p>
    </div>
  </div>
</a>
</body>
</html>