<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/fragment/course-list-layout :: course-list-layout(~{:: title},~{:: #content}, ~{:: #header})}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo khóa học mới</title>
</head>

<body>

<th:block id="header">
    <div th:replace="~{/fragment/admin-header :: header}"></div>
</th:block>

<div class="header d-flex align-items-center">
    <div class="container-fluid">
        <div class="d-flex justify-content-start align-items-center">
            <div class="logo">
                <a href="./course-list.html">
                    <img src="https://techmaster.vn/resources/image/logo-techmaster/white/white_200x74.png"
                         alt="logo">
                </a>
            </div>
            <div class="menu">
                <a class="text-white text-uppercase ms-5" href="./course-onlab-list.html">Phòng lab</a>
                <a class="text-white text-uppercase ms-3" href="./course-online-list.html">Trực tuyến</a>
                <a class="text-white text-uppercase ms-3" href="./course-online-list.html">Thêm khóa học</a>
            </div>
        </div>
    </div>
</div>

<th:block id="content">

    <div class="course-container mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="mb-4">
                        <nav class="nav-detail" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/admin/course}">Khóa học</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tạo khóa học mới...</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="main p-4 shadow-sm">

                        <div class="supporter d-flex align-items-center">
                            <div class="supporter-image">
                                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
                                     alt="tư vấn viên" class="rounded-circle me-3">
                                <button class="img-btn">Tải ảnh lên...</button>
                            </div>
                            <div class="supporter-info">
                                <p class="mb-0">
                                    <label for="">Id tư vấn viên : </label>
                                    <input type="text" value="Nhập id tư vấn viên...">
                                </p>
                                <p class="mb-0">
                                    <label for="">Tư vấn viên : </label>
                                    <input type="text" value="Nhập tên tư vấn viên...">
                                </p>
                                <p class="mb-0">
                                    <label for="">Email : </label>
                                    <input type="text" value="Nhập email...">
                                </p>
                                <p class="mb-0">
                                    <label for="">Số điện thoại : </label>
                                    <input type="text" value="Nhập số điện thoại...">
                                </p>
                            </div>
                        </div>

                        <hr>

                        <div class="course-info">
                            <p class="mb-0">
                                <label for="">Tên khóa học: </label>
                                <input type="text" value="Nhập tên khóa học">
                            </p>
                            <p class="mb-0">
                                <label for="">Kiểu khóa học : </label>
                                <input type="text" value="Nhập type...">
                            </p>
                            <p class="mb-0">
                                <label for="">Các topics : </label>
                                <input type="text" value="Nhập topics...">
                            </p>
                            <p class="mb-0">
                                <label for="">Thumbnail : </label>
                                <input type="text" value="Nhập thumbnail...">
                            </p>
                        </div>
                        <hr>

                        <div class="course-description">
                            <textarea class="des-input" rows="8" cols="126">Description here...</textarea>
                        </div>

                        <div class="mb-4">
                            <nav class="submit-btn nav-detail" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="option">
                                    <li><a th:href="@{/admin/course}"><button class="update-btn btn">SAVE</button></a></li>
                                    <li><a th:href="@{/admin/course}"><button class="delete-btn btn">RETURN</button></a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./js/course-detail.js"></script>
</body>

</html>