<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title th:text="${course.name}">Tạo khóa học</title>

  <!-- Link google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&amp;display=swap"
        rel="stylesheet">

  <!-- Link bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Link icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

  <!-- Link select2 -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


  <!-- Link tự viết -->
  <link rel="stylesheet" th:href="@{/css/adminStyle.css}">
</head>

<body>
<!--HEADER-->
<th:block th:replace="~{/fragment/admin-header :: header}"></th:block>

<!-- BODY -->
<div class="course-list mt-4 mb-4">
  <div class="container">
    <div class="mb-4 d-flex justify-content-between">
      <div>
        <button class="btn-custom btn-update-course">
          <span><i class="fa-solid fa-plus"></i></span>
          Cập nhật
        </button>
        <a th:href="@{/admin/course}" class="btn-custom btn-refresh">
          <span><i class="fa-solid fa-angle-left"></i></span>
          Quay lại
        </a>
      </div>
      <div>
        <button class="btn-custom btn-delete-course bg-danger">
          <span><i class="fa-solid fa-trash-can"></i></span>
          Xóa
        </button>
      </div>
    </div>

    <div class="course-list-inner p-2">
      <div class="row">
        <div class="col-md-8">
          <div class="mb-3">
            <label for="course-name" class="form-label fw-bold">Tên khóa học</label>
            <input type="text" class="form-control" id="course-name" th:value="${course.name}">
          </div>
          <div class="mb-3">
            <label for="course-description" class="form-label fw-bold">Mô tả</label>
            <textarea class="form-control" id="course-description" rows="10" th:text="${course.description}"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="course-type" class="form-label fw-bold">Hình thức học</label>
            <select class="form-control" id="course-type">
              <option value="online" th:selected="${course.type == 'online'}">online</option>
              <option value="onlab" th:selected="${course.type == 'onlab'}">onlab</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="course-topic" class="form-label fw-bold">Chủ đề</label>
            <select class="form-control topics-item" id="course-topic" multiple="multiple">
              <option th:each="topic : ${topicList}" th:value="${topic}" th:text="${topic}" th:selected="${#lists.contains(course.topics, topic)}">Backend</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="course-supporter" class="form-label fw-bold">Tư vấn viên</label>
            <select class="form-control" id="course-supporter">
              <option hidden>- Chọn tư vấn viên -</option>
              <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.name}" th:selected="${course.user.id == user.id}"></option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label fw-bold">Thumnail</label>
            <div class="course-logo-preview mb-3 rounded">
              <img th:src="${course.thumbnail}" th:alt="${course.name}" id="course-logo-preview" class="rounded">
            </div>

            <label for="course-logo-input" class="btn btn-warning">Đổi ảnh
              <input type="file" id="course-logo-input" class="d-none">
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script th:inline="javascript">

  // Truy cập vào các thành phần
  const courseTopic = $("#course-topic");

  // Kích hoạt select2
  courseTopic.select2({
    placeholder: "- Chọn chủ đề",

  });


  const courseThumbnailPreviewEl = document.getElementById("course-logo-preview");
  const courseThumbnailInputEl = document.getElementById("course-logo-input");
  const courseNameInput  = document.getElementById("course-name");
  const courseDescriptionInput  = document.getElementById("course-description");
  const courseTypeSelect = document.getElementById("course-type");
  const courseTopicSelect = document.getElementById("course-topic");
  const courseSpSelect = document.getElementById("course-supporter");
  const courseThumb = document.getElementById("course-logo-preview");
  const updateCourseBtn = document.querySelector(".btn-update-course");

  courseThumbnailInputEl.addEventListener("change", async (e) => {

    //1: lay ra file can sua
    const file = e.target.files[0];
    console.log(file);

    //2: tao doi tuong formdata
    const formData = new FormData();
    formData.append("file",file)

    //3: goi api
    try {
      const res = await axios.post("/api/v1/files", formData);
      console.log(res);
      if(res.status === 200) {
        courseThumbnailPreviewEl.src = res.data;
        toastr.success("Upload ảnh thành công");
      }
    }catch(e) {
      console.log(e);
    }

  })
  const courseList = [];

  const courseAPI = async () => {
    const res = await fetch('http://localhost:8080/api/v1/courses', {
      method: 'GET', // string or object
      headers: {
        'Content-Type': 'application/json'
      }
    });
    const myJson = await res.json(); //extract JSON from the http response
    courseList.push(myJson);
    console.log(courseList)
  }
  courseAPI();

  const courseItem = [[${course}]]
  console.log(courseItem.id)

  const deleteCourseBtn = document.querySelector(".btn-delete-course");
  deleteCourseBtn.addEventListener('click', function () {
      const courseId = courseItem.id;

      // Thực hiện DELETE request để xóa dữ liệu khóa học
      fetch(`http://localhost:8080/api/v1/courses/${courseId}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
          // Các headers khác nếu cần
        },
      })

              .then(response => {
                if (response.status === 200) {
                  // Xóa khóa học khỏi danh sách

                  console.log(response)
                  window.location.href = 'http://localhost:8080/admin/course'
                } else {
                  console.log(response.json())
                  throw new Error('Lỗi khi xóa khóa học từ API.');
                }
              })
              .catch(error => {
                console.error('Lỗi khi xóa khóa học:', error);
              });
  });

    updateCourseBtn.addEventListener('click' ,function () {

      const rq  = {
        "name" : courseNameInput.value,
        "description" : courseDescriptionInput.value,
        "type" : courseTypeSelect.value,
        "topics": courseTopicSelect.value,
        "avatar" : courseThumb.value
      }

      fetch('http://localhost:8080/api/v1/courses/${id}', {
        method: 'PUT', // hoặc 'PATCH' nếu API hỗ trợ
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({rq}),
      })
              .then(response => {
                if (response.status === 200) {
                  return response.json();
                } else {
                  throw new Error('Lỗi khi cập nhật dữ liệu trong API.');
                }
              })
              .then(updatedData => {
                // Xử lý dữ liệu sau khi cập nhật thành công
                console.log('Dữ liệu đã được cập nhật:', updatedData);
              })
              .catch(error => {
                console.error('Lỗi khi cập nhật dữ liệu:', error);
              });
    })

</script>
</body>

</html>