<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/fragment/course-list-layout :: course-list-layout(~{:: title},~{:: #content}, ~{:: #header})}">


<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${course.name}"></title>
</head>

<body>

<th:block id="header">
  <div th:replace="~{/fragment/admin-header :: header}"></div>
</th:block>

<th:block id="content">

  <div class="course-container mt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="mb-4">
            <nav class="nav-detail" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin/course}">Khóa học</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${course.name}"></li>
              </ol>
              <ol class="option">
                <li><a th:href="@{/admin/course}"><button class="update-btn btn">SAVE</button></a></li>
                <li><a th:href="@{/admin/course}"><button class="delete-btn btn">DELETE</button></a></li>
                <li><a th:href="@{/admin/course}"><button class="delete-btn btn">RETURN</button></a></li>
              </ol>
            </nav>
          </div>

          <div class="main p-4 shadow-sm">
            <div>
              <label for="">Tên khóa học: </label>
              <input type="text" th:value="${course.name}">
            </div>

            <hr>

            <div class="supporter d-flex align-items-center">
              <div class="supporter-image">
                <img th:src="${user.avatar}"
                     alt="tư vấn viên" class="rounded-circle me-3">
                <button class="img-btn">Tải ảnh lên...</button>
              </div>
              <div class="supporter-info">
                <p>
                  <label for="">Tư vấn viên : </label>
                  <input type="text" th:value="${user.name}">
                </p>
                <p>
                  <label for="">Email : </label>
                  <input type="text" th:value="${user.email}">
                </p>
                <p class="mb-0">
                  <label for="">Số điện thoại : </label>
                  <input type="text" th:value="${user.phone}">
                </p>
              </div>
            </div>

            <hr>

            <div class="course-description">
              <textarea class="des-input" rows="8" cols="126" th:text="${course.description}"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./js/course-detail.js"></script>
</body>

</html>