<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/fragment/course-list-layout :: course-list-layout
      (~{:: title}, ~{:: #content}, ~{:: #header})}">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách khóa học</title>
  <!-- Link icon -->

</head>

<body>

<th:block id="header">
  <div th:replace="~{/fragment/admin-header :: header}"></div>
</th:block>

<th:block id="content">
  <div class="course-container mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <button class="btn-unfilter btn btn-danger mb-4 px-5 rounded d-none">Bỏ lọc</button>
          <h2 class="fs-5 mb-4">Chủ đề</h2>
          <div class="topic-list">
            <div th:each="topic : ${topicList}" class="topic-item input-group d-flex align-items-center mb-1">
              <input type="radio" th:value="${topic}" th:id="${topic}" th:name="${topic}">
              <label th:for="${topic}" class="ms-2 fs-5" th:text="${topic}"></label>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="row justify-content-between">
            <div class="col-md-4">
              <div class="seach-form d-flex align-items-center rounded shadow-sm mb-4 pe-3">
                <input placeholder="Tìm kiếm khóa học" class="form-control border-0 seach-form-input"
                       type="search">
                <span class="text-black-50 seach-form-button"><i
                        class="fa-solid fa-magnifying-glass"></i></span>
              </div>
            </div>

            <div class="col-md-4">
              <select class="form-select item-per-page" aria-label="Default select example">
                <option hidden>Số lượng hiển thị</option>
                <option value="2">2 items</option>
                <option value="3">3 items</option>
                <option value="4">4 items</option>
                <option value="all">All items</option>
              </select>
            </div>
          </div>

          <div class="course-list row">
            <div class="col-md-4" th:each="c : ${courseList}">
              <th:block th:replace="~{/fragment/admin-course :: adminCourseItem(${c})}"></th:block>
            </div>
          </div>

          <div class="row">
            <div class="d-flex justify-content-center mt-3" id="pagination">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.js"
        integrity="sha512-GzbaI5EsNzdEUq6/2XLYpr1y9CUZRIVsUeWTAFgULtQa5jZ3Nug8i0nZKM6jp9NffBCZhymPPQFcF0DK+JkRpw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>