<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <title>Tags | Kong's Blog</title>
  <link crossorigin="anonymous" th:href="@{/css/style.css}"
        rel="preload stylesheet" as="style" />
  <link rel=icon href=img/umaru.PNG>
  <link rel=icon type=image/png sizes=16x16 href=img/umaru.PNG>
  <link rel=icon type=image/png sizes=32x32 href=img/umaru.PNG>
</head>

<body class="list" id="top">
<header class="header">
  <nav class="nav">
    <div class="logo">
      <a th:href="@{/}">Kong.dev</a>
    </div>
    <ul id="menu">
      <li>
        <a th:href="@{/search}"><span>Search</span></a>
      </li>
      <li>
        <a th:href="@{/categories}"><span>Tags</span></a>
      </li>
      <li>
        <a th:href="@{/project}"><span>Projects</span></a>
      </li>
      <li>
        <a th:href="@{/slide}"><span>Slides</span></a>
      </li>
      <li>
        <a th:href="@{/about}"><span>About</span></a>
      </li>
    </ul>
  </nav>
</header>
<main class="main">
  <header class="page-header">
    <h1>Tags</h1>
  </header>
  <ul class="terms-tags">
    <li th:each="tag : ${categoryList}">
      <a th:href="@{/categories/{categoryName} (categoryName = ${tag.name})}" th:text="${tag.name}">Action
        <sup><strong><sup th:text="${tag.used}">5</sup></strong></sup></a>
    </li>
  </ul>
</main>
</body>

</html>