<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: main-fragment( ~{:: #content}, ~{:: #js})}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thêm mới sách</title>

</head>
<body>

  <div id="content">
    <!-- navbar -->
    <nav class="content-navbar navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
        <!-- <button class="btn d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-gear"></i>
        </button> -->

        <div class="" id="navbarSupportedContent">

          <ul class="nav ml-auto">
            <li class="nav-item" style="margin-top: 4px; margin-right: 10px;">
              <!-- Rounded switch -->
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- noi dung chinh -->
    <div class="content-header">
      <!-- header-content -->
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/html/admin/index.html">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">
                Thêm sách mới
              </li>
            </ol>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row py-2">
            <div class="col-6">
              <button type="button" class="btn btn-info px-4" id="btn-create">
                <i class="fas fa-plus"></i> Tạo
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <form class="d-flex flex-wrap" id="form-create-book">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label>Tên sách</label>
                          <input type="text" class="form-control" id="bookName" name="title"/>
                        </div>

                        <div class="form-group">
                          <label>Tác giả</label>
                          <select class="form-control"
                                  id="author" name="author"  onchange="handlePublisherSelection()">
                            <option value="" disabled selected hidden>- Chọn Tác giả -</option>
                            <option
                                    th:each="author : ${authorList}"
                                    th:value="${author.id}"
                                    th:text="${author.name}">
                            </option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label>Nhà xuất bản</label>
                          <select class="form-control" name="publisher"
                                  id="publisher"  onchange="handlePublisherSelection()">
                            <option value="" disabled selected hidden>- Chọn Nhà xuất bản -</option>
                            <option
                                    th:each="publisher : ${publisherList}"
                                    th:value="${publisher.id}"
                                    th:text="${publisher.name}">
                            </option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label>Tóm tắt nội dung</label>
                          <textarea type="text" class="form-control" id="sumContent" name="content"></textarea>
                        </div>

                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Giá tiền</label>
                          <input type="text" class="form-control" id="price" name="price"/>
                        </div>

                        <div class="form-group">
                          <label>Số lượng</label>
                          <input type="text" class="form-control" id="quantity" name="quantity"/>
                        </div>

                        <div class="form-group">
                          <label>Năm xuất bản</label>
                          <input type="text" class="form-control" id="publishYear" name="publisherYear"/>
                        </div>
                        <div class="form-group">
                          <label>Danh mục</label>
                          <div class="select2-purple">
                            <select class="select2 form-control" multiple="multiple" name="category"
                                    id="category">
                              <option th:each="category : ${categoryList}"
                                      th:value="${category.id}"
                                      th:text="${category.name}">
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="thumbnail-preview-container mb-3">
                            <img src="https://placehold.co/600x400" id="thumbnail"/>
                          </div>
                          <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                  data-target="#modal-xl" id="btn-modal-image">
                            Chọn hình ảnh
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <div class="modal fade" id="modal-xl" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Danh sách ảnh</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="d-flex justify-content-between">
                <div>
                  <button class="btn btn-success" id="btn-chose-image" disabled>Chọn ảnh</button>

                  <label for="avatar" class="btn btn-warning mb-0">Upload ảnh</label>
                  <input type="file" id="avatar" class="d-none">
                </div>
                <div>
                  <button class="btn btn-danger" id="btn-delete-image" disabled>Xóa ảnh</button>
                </div>
              </div>
              <!-- Hiển thị danh sách ảnh -->
              <div class="image-container mt-4 mb-4">
                <div class="image-item">
                  <img src="https://images.unsplash.com/photo-1656918931725-2f9d9fce4acb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60"
                       alt="">
                </div>
              </div>

              <!-- Hiển thị phần phân trang -->
              <div class="pagination-container d-flex justify-content-center">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <th:block id="js">
    <script th:inline="javascript">
      $(".select2").select2();

      // Initialize editor
      const easyMDE = new EasyMDE({
        element: document.getElementById("sumContent"),
        spellChecker: false,
        maxHeight: "300px",
        renderingConfig: {
          codeSyntaxHighlighting: true,
        },
      });

      const bookNameInput = document.getElementById("bookName");
      const authorInput = document.getElementById("author");
      const publisherInput = document.getElementById("publisher");
      const contentInput = document.getElementById("sumContent");
      const priceInput = document.getElementById("price");
      const quantityInput = document.getElementById("quantity");
      const publishYearInput = document.getElementById("publishYear");
      const categoryInput = document.getElementById("category");
      const btnCreate  = document.getElementById("btn-create");
      const thumbnailPreviewEl = document.getElementById("thumbnail");



      function handlePublisherSelection() {
        var dropdown = document.getElementById("publisher");
        var selectedOption = dropdown.options[dropdown.selectedIndex];

        if (selectedOption.value === "") {
          selectedOption.style.display = "none";
        }
      }

      // validate form
      $('#form-create-book').validate({
        rules: {
          title: {
            required: true
          },
          author: {
            required: true
          },
          publisher: {
            required: true
          },
          publisherYear: {
            required: true
          },
          content: {
            required: true
          },
          price: {
            required: true
          },
          quantity: {
            required: true
          },
          category: {
            required: true
          }
        },
        messages: {

          title: {
            required: "Tên sách không được bỏ trống"
          },
          author: {
            required: "Tác giả không được bỏ trống"
          },
          publisher: {
            required: "NXB không được bỏ trống"
          },
          publisherYear: {
            required: "Năm xuất bản không được bỏ trống"
          },
          content: {
            required: "Nội dung không được bỏ trống"
          },
          price: {
            required: "Giá tiền không được bỏ trống"
          },
          quantity: {
            required: "Số lượng không được bỏ trống"
          },
          category: {
            required: "Danh mục không được bỏ trống"
          }

        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          console.log({error, element});
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });

      btnCreate.addEventListener("click", async () => {
        // validate form
        if (!$('#form-create-book').valid()) {
          console.log("co vao day")
          return;
        }

        // Build request body
        const data = {
          title: bookNameInput.value,
          authorId: Number($("#author").val()),
          publisherId:Number($("#publisher").val()),
          publishYear: publishYearInput.value,
          summaryContent: contentInput.value,
          price: priceInput.value,
          quantity: quantityInput.value,
          categoryIds: $("#category").val().map(id => Number(id)),
          thumbnail: thumbnailPreviewEl.src
        };
        console.log(data);

        try {
          let res = await axios.post("/api/v1/admin/books", data);
          console.log("co vao")
          if (res.status === 201) {
            toastr.success("Thêm sách mới thành công");
            setTimeout(() => {
              window.location.href = '/lib-express/admin/books';
            }, 1500)
          } else {
            toastr.error("Thêm sách mới thất bại");
          }
        } catch (e) {
          console.log(e);
          toastr.error(e.response.data.message);
        }
      });



    </script>
  </th:block>

<!-- <script th:inline="javascript">

    const imageContainerEl = document.querySelector(".image-container");
    const btnChoseImage = document.getElementById("btn-chose-image");
    const btnDeleteImage = document.getElementById("btn-delete-image");
    const inputImageEl = document.getElementById("avatar");
    const thumbnailPreviewEl = document.getElementById("thumbnail");

    // Render image
    const renderImageList = (images) => {
        let html = "";
        images.forEach(image => {
            html += `
                <div class="image-item" onclick="choseImage(this)" data-id="${image.id}">
                    <img src="/api/v1/images/${image.id}" alt="">
                </div>
            `
        })
        imageContainerEl.innerHTML = html;
    }

    // Render pagination
    const renderPagination = (imageList) => {
        console.log("Render Pagination : ", imageList)
        $('.pagination-container').pagination({
            dataSource: imageList,
            pageSize: 8,
            callback: function (data, pagination) {
                renderImageList(data);
            }
        })
    }


    // Upload file
    inputImageEl.addEventListener('change', (e) => {
        // Lấy thông tin file upload
        const file = e.target.files[0];

        // Tạo form data
        const formData = new FormData();
        formData.append('file', file);

        // call api
        fetch(`/api/v1/admin/images`, {
            method: 'POST',
            body: formData
        })
            .then(res => res.json())
            .then(data => {
                imageList.unshift(data);
                renderPagination(imageList);
            })
            .catch(err => {
                console.log(err);
            })
    })

    // Xử lý chọn ảnh
    const choseImage = el => {
        const selectedEl = document.querySelector('.image-item.selected');
        if (selectedEl) {
            selectedEl.classList.remove('selected');
        }
        el.classList.add('selected');

        btnChoseImage.disabled = false;
        btnDeleteImage.disabled = false;
    }

    // Xóa ảnh
    btnDeleteImage.addEventListener('click', async () => {
        const selectedEl = document.querySelector('.image-item.selected');
        const imageId = selectedEl.dataset.id;
        console.log(typeof imageId)

        try {
            await fetch(`/api/v1/admin/images/${imageId}`, {
                method: 'DELETE'
            })
            console.log("Before", imageList)
            imageList = imageList.filter(image => image.id !== Number(imageId));
            console.log("After", imageList)
            renderPagination(imageList);

            btnChoseImage.disabled = true;
            btnDeleteImage.disabled = true;
        } catch (error) {
            console.log(error)
        }
    })

    // Chọn ảnh cho bài viết
    btnChoseImage.addEventListener('click', () => {
        const selectedEl = document.querySelector('.image-item.selected');
        const imageId = selectedEl.dataset.id;

        thumbnailPreviewEl.src = `/api/v1/images/${imageId}`;
        $('#modal-xl').modal('hide');
    })

</script> -->
</body>
</html>